.dark-gray-background {
  -fx-background-color: #46474a;
}
/*icons color : #606264 */
.gray-background {
  -fx-background-color: #636566;
}

/* the lasts changes was for testing */
.transparent-background {
  -fx-background-color: transparent;
}

.radius{
  -fx-background-radius: 100px;
}

.light-gray-background {
  -fx-background-color: #DADADA;
}

.incoming-message-background {
  -fx-background-color: #FFFFFF;
  -fx-background-radius: 20px;
}

.outgoing-message-background {
  -fx-background-color: #50c984;
  -fx-background-radius: 20px;
}
